<div class="center jumbotron">
  <h1>Welcome to Projectz!</h1>

  <h2>Projectz! manages projects of any size.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

